In [2]:
import pandas as pd

In [4]:
df = pd.read_csv('vendas_de_ingressos.csv')

In [6]:
print("Número de linhas e colunas:", df.shape)

Número de linhas e colunas: (1440, 7)

In [8]:
print(df.head(7))

  Ticket_ID  Age  Ticket_Price Movie_Genre Seat_Type Number_of_Person  \
0     N4369   55         12.27      Comedy  Standard                7
1     B8091   35         19.02       Drama  Standard            Alone
2     V6341   55         22.52      Horror       VIP                3
3     B3243   53         23.01       Drama  Standard                6
4     I3814   30         21.81      Comedy       VIP                4
5     E5655   28         11.58      Horror       VIP            Alone
6     P1526   50         22.91      Action  Standard            Alone

  Purchase_Again
0             No
1            Yes
2             No
3            Yes
4            Yes
5            Yes
6            Yes

In [10]:
print(df.tail(10))

     Ticket_ID  Age  Ticket_Price Movie_Genre Seat_Type Number_of_Person  \
1430     P4816   32         19.23       Drama   Premium                2
1431     Q9931   29         14.60      Action       VIP                5
1432     A3974   58         12.04      Action  Standard            Alone
1433     P4007   47         23.12      Action   Premium                6
1434     B1567   21         10.41      Comedy       VIP                5
1435     E5406   41         17.09      Sci-Fi  Standard                2
1436     C4357   19         11.45      Action  Standard            Alone
1437     R7285   53         17.13      Comedy   Premium            Alone
1438     W6360   34         20.25      Comedy   Premium                2
1439     Z8034   60         21.90      Action       VIP            Alone

     Purchase_Again
1430             No
1431             No
1432            Yes
1433             No
1434            Yes
1435            Yes
1436             No
1437            Yes
1438            Yes
1439             No

In [12]:
df.rename(columns={
    'Age': 'Idade',
    'Ticket_Price': 'Preco_do_Ingresso',
    'Movie_Genre': 'Genero',
    'Seat_Type': 'Tipo_de_Assento',
    'Number_of_Person': 'Numero_de_Pessoas',
    'Purchase_Again': 'Compraria_Novamente'
}, inplace=True)

In [14]:
print(df.describe())

             Idade  Preco_do_Ingresso
count  1440.000000        1440.000000
mean     38.904861          17.383972
std      12.426293           4.397087
min      18.000000          10.010000
25%      28.000000          13.640000
50%      39.000000          17.280000
75%      50.000000          21.392500
max      60.000000          24.990000

In [16]:
filtro_acao = df.loc[df['Genero'] == 'Ação']
print(filtro_acao)

Empty DataFrame
Columns: [Ticket_ID, Idade, Preco_do_Ingresso, Genero, Tipo_de_Assento, Numero_de_Pessoas, Compraria_Novamente]
Index: []

In [18]:
print(df.iloc[11:20])

   Ticket_ID  Idade  Preco_do_Ingresso  Genero Tipo_de_Assento  \
11     L2502     56              14.06  Comedy             VIP
12     P4991     40              16.75  Horror             VIP
13     L1185     26              23.39   Drama         Premium
14     M6402     22              22.29  Sci-Fi         Premium
15     S3535     42              12.31  Horror             VIP
16     C1073     44              17.85  Comedy         Premium
17     I7517     35              21.49  Horror             VIP
18     Q8198     26              22.32  Comedy             VIP
19     E1293     54              15.68  Horror             VIP

   Numero_de_Pessoas Compraria_Novamente
11             Alone                  No
12                 6                  No
13             Alone                  No
14             Alone                 Yes
15             Alone                  No
16             Alone                  No
17                 2                 Yes
18                 5                 Yes
19             Alone                 Yes

In [20]:
print(df.iloc[[34, 37, 41, 49]])

   Ticket_ID  Idade  Preco_do_Ingresso  Genero Tipo_de_Assento  \
34     R0385     33              10.05  Action        Standard
37     A6397     58              15.81   Drama         Premium
41     K1926     59              21.20  Comedy             VIP
49     H0893     57              15.86  Horror             VIP

   Numero_de_Pessoas Compraria_Novamente
34             Alone                  No
37                 5                 Yes
41                 4                 Yes
49             Alone                  No

In [22]:
print(df.loc[df['Tipo_de_Assento'] == 'Standard'])

     Ticket_ID  Idade  Preco_do_Ingresso  Genero Tipo_de_Assento  \
0        N4369     55              12.27  Comedy        Standard
1        B8091     35              19.02   Drama        Standard
3        B3243     53              23.01   Drama        Standard
6        P1526     50              22.91  Action        Standard
8        A2029     46              12.12  Sci-Fi        Standard
...        ...    ...                ...     ...             ...
1425     N7743     38              24.21  Sci-Fi        Standard
1429     I9961     41              22.48  Sci-Fi        Standard
1432     A3974     58              12.04  Action        Standard
1435     E5406     41              17.09  Sci-Fi        Standard
1436     C4357     19              11.45  Action        Standard

     Numero_de_Pessoas Compraria_Novamente
0                    7                  No
1                Alone                 Yes
3                    6                 Yes
6                Alone                 Yes
8                Alone                 Yes
...                ...                 ...
1425             Alone                 Yes
1429             Alone                  No
1432             Alone                 Yes
1435                 2                 Yes
1436             Alone                  No

[475 rows x 7 columns]

In [24]:
print(df.loc[(df['Idade'] >= 20) & (df['Idade'] <= 45)])

     Ticket_ID  Idade  Preco_do_Ingresso  Genero Tipo_de_Assento  \
1        B8091     35              19.02   Drama        Standard
4        I3814     30              21.81  Comedy             VIP
5        E5655     28              11.58  Horror             VIP
7        V4726     44              23.09  Sci-Fi         Premium
12       P4991     40              16.75  Horror             VIP
...        ...    ...                ...     ...             ...
1430     P4816     32              19.23   Drama         Premium
1431     Q9931     29              14.60  Action             VIP
1434     B1567     21              10.41  Comedy             VIP
1435     E5406     41              17.09  Sci-Fi        Standard
1438     W6360     34              20.25  Comedy         Premium

     Numero_de_Pessoas Compraria_Novamente
1                Alone                 Yes
4                    4                 Yes
5                Alone                 Yes
7                    7                 Yes
12                   6                  No
...                ...                 ...
1430                 2                  No
1431                 5                  No
1434                 5                 Yes
1435                 2                 Yes
1438                 2                 Yes

[886 rows x 7 columns]

In [26]:
df_comedy = df.loc[df['Genero'] == 'Comedy']

In [30]:
df4 = df[['Preco_do_Ingresso', 'Genero', 'Tipo_de_Assento']].loc[df['Compraria_Novamente'] == 'Yes']
print(df4)

      Preco_do_Ingresso  Genero Tipo_de_Assento
1                 19.02   Drama        Standard
3                 23.01   Drama        Standard
4                 21.81  Comedy             VIP
5                 11.58  Horror             VIP
6                 22.91  Action        Standard
...                 ...     ...             ...
1432              12.04  Action        Standard
1434              10.41  Comedy             VIP
1435              17.09  Sci-Fi        Standard
1437              17.13  Comedy         Premium
1438              20.25  Comedy         Premium

[707 rows x 3 columns]

In [32]:
nova_serie = df['Tipo_de_Assento']

In [34]:
df.drop(columns=['Ticket_ID'], inplace=True)

In [36]:
print(df.isnull().sum())

Idade                  0
Preco_do_Ingresso      0
Genero                 0
Tipo_de_Assento        0
Numero_de_Pessoas      0
Compraria_Novamente    0
dtype: int64

In [38]:
print(df.isna().sum())

Idade                  0
Preco_do_Ingresso      0
Genero                 0
Tipo_de_Assento        0
Numero_de_Pessoas      0
Compraria_Novamente    0
dtype: int64

In [40]:
print(df.iloc[14:20][['Idade', 'Preco_do_Ingresso', 'Genero']])

    Idade  Preco_do_Ingresso  Genero
14     22              22.29  Sci-Fi
15     42              12.31  Horror
16     44              17.85  Comedy
17     35              21.49  Horror
18     26              22.32  Comedy
19     54              15.68  Horror

In [42]:
print(df.iloc[[2, 7, 9, 12]][['Genero', 'Numero_de_Pessoas']])

    Genero Numero_de_Pessoas
2   Horror                 3
7   Sci-Fi                 7
9   Action             Alone
12  Horror                 6